/* =================================
 GREENERY FUN RUN SCANNER
 STYLE CSS
================================= */

body{

    font-family: Arial, sans-serif;

    background:#f4f6f8;

    text-align:center;

    margin:0;

    padding:20px;

}


h2{

    color:#1b5e20;

}


#reader{

    width:100%;

    max-width:420px;

    margin:auto;

    background:white;

    padding:10px;

    border-radius:12px;

}


video{

    width:100%;

    border-radius:10px;

}



#card{

    display:none;

    background:white;

    max-width:420px;

    margin:20px auto;

    padding:20px;

    border-radius:12px;

    box-shadow:0 3px 10px rgba(0,0,0,0.15);

    text-align:left;

}



#card h3{

    color:#1b5e20;

    text-align:center;

}



button{

    width:100%;

    padding:15px;

    background:#1b5e20;

    color:white;

    border:none;

    border-radius:10px;

    font-size:18px;

    margin-top:15px;

}



button:hover{

    background:#2e7d32;

}



#result{

    margin-top:15px;

    font-size:18px;

}



.success{

    background:#d4edda;

    padding:15px;

    border-radius:10px;

}



.error{

    background:#f8d7da;

    padding:15px;

    border-radius:10px;

}